:root{
    --color-primary-dark: #1E213A;
    --color-secondary-dark: #100E1D;

    --color-primary-light: #E7E7EB;
    --color-secondary-light: #A09FB1;
    --color-third-light: #88869D;

    --color-fill: #FFEC65;
    --color-button: #3C47E9;
    --color-search-btn: #6E707A;
    --color-other-btn: #585676;
}
